@media only screen and (max-width:769px) {
    .navigation{
        height: 60vh;
        i{
            display: block;
            position: absolute;
            right: 30px;
            top: 30px;
    
            }
        .navbar__nav{
            a{
                display: block;
              

            }
        }
    }

    .extra__navirgation{
        .extra__navbar{
            width: 100%;
            a{
                margin-left: 1.3rem;
            }
        }
    }
    .header{
        background-image: none;
        height: 65vh;
        .banner{
            width: 100%;
            p{
                width: 90%;
            }
            button{
                margin-top: 1rem;
            }
        }
    }

.about{
    .about__content{
        grid-template-columns: 1fr;
        img{
            width: 100%;
        }
    }
}
.filter__contact ,.offers__content, .choose .choose__contact,.costuer__contact{
    grid-template-columns: 1fr;
}
.costumer{
    
     .swiper-button-prev,.swiper-button-next{
        margin-top: 2rem;
     }
     margin: 0 auto;
}
.costuer__contact{
    width: 90%;
    margin: 0 auto;
    .item{
        margin-top: 4rem;
        margin: 0 auto;
        height: 65vh;
        margin-top: 5rem;


        .card{
            width: 100%;
        margin: 0 auto;
        
        .img{
           width: 100%;
        }
        }
        
    }
}
.contact__content{
    form{

    button{
     width: 60%;
    }
}

}
.footer{
    .footer__contact{
        grid-template-columns: 1fr;
    }
}
.long{
    height: 7vh;
 }
 .short{
    height: 100%;
    padding-bottom: 2rem;
 }
}